<form action="tiki-admin.php?page=print" class="admin" method="post">
    {ticket}
    <div class="t_navbar mb-4 clearfix">
        {include file='admin/include_apply_top.tpl'}
    </div>

    <fieldset>
        <legend class="h3">{tr}General Preferences{/tr}</legend>
        <div class="adminoptionboxchild">
            {preference name=feature_wiki_print}
            {preference name=print_wiki_authors}
            {preference name=feature_print_indexed}
            {preference name=print_original_url_wiki}
            {preference name=feature_cms_print}
            {preference name=print_pdf_mpdf_pagetitle}
        </div>
        <div class="adminoptionboxchild print_pdf_from_url_childcontainer webkit">
            {preference name=print_pdf_webkit_path}
        </div>
        <div class="adminoptionboxchild print_pdf_from_url_childcontainer weasyprint">
            {preference name=print_pdf_weasyprint_path}
        </div>
        <div class="adminoptionboxchild print_pdf_from_url_childcontainer webservice">
            {preference name=print_pdf_webservice_url}
        </div>
    </fieldset>

    <fieldset>
        <legend class="h3">{tr}Print Preferences{/tr}</legend>
        <div class="adminoptionboxchild">
            {preference name=print_pdf_modules}
        </div>
        <div class="adminoptionboxchild" id="feature_wiki_print_childcontainer">
            {preference name=feature_wiki_multiprint}
        </div>
    </fieldset>

    <fieldset>
        <legend class="h3">{tr}PDF Preferences{/tr}</legend>
        <div class="adminoptionboxchild">
            {preference name=print_pdf_from_url}
            {preference name=allocate_memory_print_pdf}
            {preference name=allocate_time_print_pdf}
            {preference name=feature_slideshow_pdfexport}
        </div>
        <div class="adminoptionboxchild print_pdf_from_url_childcontainer mpdf">
            {preference name=print_pdf_mpdf_orientation}
            {preference name=print_pdf_mpdf_size}
            {preference name=print_pdf_mpdf_printfriendly}
            {preference name=print_pdf_mpdf_toc}
            {preference name=print_pdf_mpdf_toclinks}
            {preference name=print_pdf_mpdf_tocheading}
            {preference name=print_pdf_mpdf_toclevels}
            {preference name=print_pdf_mpdf_header}
            {preference name=print_pdf_mpdf_footer}
            {preference name=print_pdf_mpdf_margin_left}
            {preference name=print_pdf_mpdf_margin_right}
            {preference name=print_pdf_mpdf_margin_top}
            {preference name=print_pdf_mpdf_margin_bottom}
            {preference name=print_pdf_mpdf_margin_header}
            {preference name=print_pdf_mpdf_margin_footer}
            {preference name=print_pdf_mpdf_hyperlinks}
            {preference name=print_pdf_mpdf_autobookmarks}
            {preference name=print_pdf_mpdf_columns}
            {preference name=print_pdf_mpdf_password}
            {preference name=print_pdf_mpdf_watermark}
            {preference name=print_pdf_mpdf_watermark_image}
            {preference name=print_pdf_mpdf_background}
            {preference name=print_pdf_mpdf_background_image}
            {preference name=print_pdf_mpdf_coverpage_text_settings}
            {preference name=print_pdf_mpdf_coverpage_wiki}
            {preference name=print_pdf_mpdf_coverpage_settings}
            {preference name=print_pdf_mpdf_coverpage_image_settings}
            {preference name=print_pdf_mpdf_allow_unsafe_ssl_requests}
        </div>
    </fieldset>

    <fieldset>
        <legend class="h3">{tr}Other Preferences{/tr}</legend>
        <div class="adminoptionboxchild">
            {preference name=print_original_url_tracker}
            {preference name=print_original_url_forum}
        </div>
    </fieldset>
    {include file='admin/include_apply_bottom.tpl'}
</form>
